.App {
  text-align: center;
  max-width: 70%;
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin:auto
}

.Aguja {
  height: 40vmin;
  pointer-events: none;
  transform: rotate(-120deg)
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.reloj-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reloj {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  border-radius: 50%;
  margin: 30px;
}

.meditions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fondo {
  background-color: blue; 
}